#modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

#modal_content {
  position: absolute;
  top: 55px;
  right: -9999px;
  width: 400px;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow-y: auto;
  transition: right 0.3s ease;
}

#modal.show #modal_content {
  right: 0;
}

#modal > button {
  position: absolute;
  top: 55px;
  right: 400px;
  margin: 8px;
}

#modal > button > img {
  width: 25px;
  height: 25px;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background: #e2e5e9;
}

#modal > button > img:hover {
  background: #d7dadf;
}
